# ignore all .env files
*.env

#ignore all milkAave scripts
milkAave*
aave*
milk*

#ignore testname folder from test_new_frame output
testname*

#ignore test projects that arent official examples (no official examples yet)
MultiSigWallet*
Payable*
SafePayable*
UniDirectionalPaymentChannel*
VerifySignature*
simple_storage*
test*
